#text_cursor{
    width: 8px;
    height:20px;
    position: absolute;
    letter-spacing:1px;  
    font-size: 16px; 
    background: rgba(36, 66, 110, 0.986);
    color: aliceblue;
    text-align:justify;
    white-space: nowrap;
    font-family: Consolas, Monaco, monospace;
    line-break: anywhere;
    left: 41px;
    top: 30px;
}