#code_complete{
    position:absolute;
    left: 0px;
    top: 40px;
    letter-spacing:1px;  
    color: aliceblue;
    text-align:justify;
    font-family: Consolas, Monaco, monospace;
    background-color:dodgerblue;
}
